# Telegram Bot Configuration
BOT_TOKEN=your_bot_token_here

# Database Configuration
DATABASE_URL=sqlite:///waifu_bot.db

# Redis Configuration (опционально)
REDIS_URL=redis://localhost:6379

# WebApp Configuration
WEBAPP_URL=https://shimmirpgbot.ru

# Admin Configuration
ADMIN_ID=your_telegram_id_here

# Environment
ENV=development
